*.log
.DS_Store
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
**/.temp/
/.vscode
/.zed
/auth.json
/build/
/coverage/
/extracted_prompts.txt
/node_modules/
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor/
/rename_dtos.php
/references/Activity/
/references/Filterable/
/references/Forms/
/references/Media/
/references/Metafields/
/references/Settings/
/references/Translatable/
/references/Translations/
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
